/* Blue variables */
$theme-color: #00afcc;
$text-color: #00afcc;
$text-color-secondary: #00afcc;
$text-grey: #0c7bbb;
$divider: #e8e8e8;
$lighter-grey: #7cfc00;
$darker-grey: #666;
$smoky-white: #eafdff;
$heart: #fb866a;
